<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProjetEcole</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>AfficherIndex</servlet-name>
    <servlet-class>ecole.Servlets.AfficherIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherIndex</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeEleve</servlet-name>
    <servlet-class>ecole.Servlets.ListeEleve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeEleve</servlet-name>
    <url-pattern>/listeEleve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeClasse</servlet-name>
    <servlet-class>ecole.Servlets.ListeClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeClasse</servlet-name>
    <url-pattern>/listeClasse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeEnseignant</servlet-name>
    <servlet-class>ecole.Servlets.ListeEnseignant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeEnseignant</servlet-name>
    <url-pattern>/listeEnseignant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InscriptionEleve</servlet-name>
    <servlet-class>ecole.Servlets.InscriptionEleve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionEleve</servlet-name>
    <url-pattern>/inscriptionEleve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InscriptionEnseignant</servlet-name>
    <servlet-class>ecole.Servlets.InscriptionEnseignant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionEnseignant</servlet-name>
    <url-pattern>/inscriptionEnseignant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InscriptionClasse</servlet-name>
    <servlet-class>ecole.Servlets.InscriptionClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionClasse</servlet-name>
    <url-pattern>/inscriptionClasse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupressionEleve</servlet-name>
    <servlet-class>ecole.Servlets.SupprimerEleve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupressionEleve</servlet-name>
    <url-pattern>/supprimerEleve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupressionEnseignant</servlet-name>
    <servlet-class>ecole.Servlets.SupprimerEnseignant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupressionEnseignant</servlet-name>
    <url-pattern>/supprimerEnseignant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupressionClasse</servlet-name>
    <servlet-class>ecole.Servlets.SupprimerClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupressionClasse</servlet-name>
    <url-pattern>/supprimerClasse</url-pattern>
  </servlet-mapping>
</web-app>